<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    <title>Welcome to the Chatroom</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
<h1>Welcome to the Chatroom</h1>

<h2>Add new post</h2>

<form action='post/' method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <textarea name="content" cols="40" rows="5"></textarea>
  <input type="submit" value="Send"/>
</form>

<form action='filter/' method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <input name="filter"></input>
  <input type="submit" value="Send"/>
</form>

<h2>Activity</h2>

<ol>
  {% for msg in posts %}
  <!-- This is insecure and allows XSS attacks --> 
  <li>{{msg.content|safe}}</li>
  {% endfor %}
</ol>

<a href="/logout">Logout</a>
</html>
