{% load widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>
      <title>Signup</title>
    </head>

    <body>
	 <h1>Signup</h1>
   <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}

    <div>
      <label>
        Username
      </label>
  
      <div>{{ form.username }}</div>
      <p>{{ form.username.errors }}</p>
    </div>

    <div>
      <label>
        Password
      </label>
      
      <div>{{ form.password1 }}</div>
      <p>{{ form.password1.errors }}</p>
    </div>

    <div>
      <label>
        Repeat Password
      </label>
      
      <div>{{ form.password2 }}</div>
      <p>{{ form.password2.errors }}</p>
    </div>


    <div>
        <button>Submit</button>
    </div>

    <a href="/accounts/login/">Login instead</a></li>


  </form>
    </body>

    </body>
</html>
